  <div *ngFor="let cartelera of carteleras">
    <app-carrousel-white [cartelera]="cartelera"></app-carrousel-white>

    <app-carrousel-black [cartelera]="cartelera"></app-carrousel-black>
  </div>



  <p>Acá comienza el código sin angular</p>
    <div class="w3-row-padding w3-center w3-padding-64" id="pricing">
    <h2>INFORMACION GENERAL</h2>
    <p>Mira las ultimas novedades de nuestra facultad aquí</p>
    
    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme">
          <p class="w3-xlarge">Novedad 1</p>
        </li>
        <li class="w3-padding-16"><b>Novedad</b> novedad 1</li>
        <div class="w3-container">
              <p>Blablabla</p>
              <p>Blablabla</p>
              <p>Blablabla</p>
        </div>
        <li class="w3-theme-l5 w3-padding-24">
          <button class="w3-btn w3-teal w3-padding-large"><i class="fa fa-check"></i> Ver más</button>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme-l2">
          <p class="w3-xlarge">Novedad 2</p>
        </li>
        <li class="w3-padding-16"><b>Novedad</b> novedad 2</li>
        <div class="w3-container">
              <p>Blablabla</p>
              <p>Blablabla</p>
              <p>Blablabla</p>
        </div>
        <li class="w3-theme-l5 w3-padding-24">
          <button class="w3-btn w3-teal w3-padding-large"><i class="fa fa-check"></i> Ver más</button>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme">
          <p class="w3-xlarge">Novedad 3</p>
        </li>
        <li class="w3-padding-16"><b>Novedad</b> novedad 3</li>
       <div class="w3-container">
              <p>Blablabla</p>
              <p>Blablabla</p>
              <p>Blablabla</p>
        </div>
        <li class="w3-theme-l5 w3-padding-24">
          <button class="w3-btn w3-teal w3-padding-large"><i class="fa fa-check"></i> Ver más</button>
        </li>
      </ul>
    </div>
</div>  
    
    <div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">

<div class="w3-quarter">
<h2>PROXIMOS EVENTOS</h2>
<p>Detalles a cerca de los últimos y más innovadores eventos que ocurrirán en las instalaciones. No te quedes con las ganas de formar parte de lo mejor</p>
</div>

<div class="w3-quarter">
<div class="w3-card-2 w3-white">
  <div class="w3-container">
  <h3>Evento 1</h3>
  <h4>Congreso de Software Libre</h4>
  <p>Blablabla</p>
  <p>Blablabla</p>
  <p>Blablabla</p>
  <p>Blablabla</p>
  </div>
  </div>
</div>

<div class="w3-quarter">
<div class="w3-card-2 w3-white">
  <div class="w3-container">
 
  <h3>Evento 2</h3>
  <h4>Inteligencia Artificial - Realidad Virtual</h4>
  <p>Blablabla</p>
  <p>Blablabla</p>
  <p>Blablabla</p>
  </div>
  </div>
</div>

<div class="w3-quarter">
<div class="w3-card-2 w3-white">
  <div class="w3-container">
  <h3>Evento 3</h3>
  <h4>Energias Verdes</h4>
  <p>Blablabla</p>
  <p>Blablabla</p>
  <p>Blablabla</p>
  <p>Blablabla</p>
  </div>
  </div>
</div>

</div>

<!-- Container -->
<div class="w3-container" style="position:relative">
  <a onclick="w3_open()" class="w3-btn-floating-large w3-teal" style="position:absolute;top:-28px;right:24px;z-index:0;">
  <i class="fa fa-plus"></i></a>
</div>
    <div class="w3-row-padding w3-center w3-padding-64" id="pricing">
    <h2>LABORALES</h2>
    <p>En ésta sección podrás encontrar tu próximo lugar de trabajo.</p><br>
    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme">
          <p class="w3-xlarge">Laboral 1</p>
        </li>
        <li class="w3-padding-16"><b>Empresa</b> Storage</li>
        <li class="w3-padding-16"><b>empresa@java.ttps.com</b> Emails</li>
        <li class="w3-padding-16"><b>10</b> puestos disponibles</li>
        <li class="w3-padding-16"><b>ttps java</b> Support</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide"><i class="fa fa-usd"></i> 10.000</h2>
          <span class="w3-opacity">por mes</span>
        </li>
        <li class="w3-theme-l5 w3-padding-24">
          <button class="w3-btn w3-teal w3-padding-large"><i class="fa fa-check"></i> Enviar cv</button>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme-l2">
          <p class="w3-xlarge">Laboral 2</p>
        </li>
        <li class="w3-padding-16"><b>Empresa</b> Storage</li>
        <li class="w3-padding-16"><b>empresa@java.ttps.com</b> Emails</li>
        <li class="w3-padding-16"><b>2</b> puestos disponibles</li>
        <li class="w3-padding-16"><b>ttps java</b> Support</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide"><i class="fa fa-usd"></i> 15.000</h2>
          <span class="w3-opacity">por quincena</span>
        </li>
        <li class="w3-theme-l5 w3-padding-24">
          <button class="w3-btn w3-teal w3-padding-large"><i class="fa fa-check"></i> Enviar cv</button>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme">
          <p class="w3-xlarge">Laboral 3</p>
        </li>
         <li class="w3-padding-16"><b>Pasantía</b> Empresa </li>
        <li class="w3-padding-16"><b>empresa@java.ttps.com</b> Emails</li>
        <li class="w3-padding-16"><b>4</b> puestos disponibles</li>
        <li class="w3-padding-16"><b>ttps java</b> Support</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide"><i class="fa fa-usd"></i> 5000</h2>
          <span class="w3-opacity">por mes</span>
        </li>
        <li class="w3-theme-l5 w3-padding-24">
          <button class="w3-btn w3-teal w3-padding-large"><i class="fa fa-check"></i> Enviar cv</button>
        </li>
      </ul>
    </div>
