    <div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">

<div class="w3-quarter">
<h2>{{cartelera.nombreCartelera}}</h2>
<p>{{cartelera.descripcion}}</p>
</div>

<div class="w3-quarter">
<div class="w3-card-2 w3-white">
  <div class="w3-container">
  <h3>Evento 1</h3>
  <h4>Congreso de Software Libre</h4>
  <p>Blablabla</p>
  <p>Blablabla</p>
  <p>Blablabla</p>
  <p>Blablabla</p>
  </div>
  </div>
</div>

<div class="w3-quarter">
<div class="w3-card-2 w3-white">
  <div class="w3-container">
 
  <h3>Evento 2</h3>
  <h4>Inteligencia Artificial - Realidad Virtual</h4>
  <p>Blablabla</p>
  <p>Blablabla</p>
  <p>Blablabla</p>
  </div>
  </div>
</div>

<div class="w3-quarter">
<div class="w3-card-2 w3-white">
  <div class="w3-container">
  <h3>Evento 3</h3>
  <h4>Energias Verdes</h4>
  <p>Blablabla</p>
  <p>Blablabla</p>
  <p>Blablabla</p>
  <p>Blablabla</p>
  </div>
  </div>
</div>

</div>
